header {
    height: 20%;
    background-color: rgb(161, 233, 209);
}

#row1 {
    height: 100%;
}

#logo {
    height: 100%;
}

article {
    height: 100%;
}

#imagenCM {
    height: 100%;
    margin-left: 5%;
}

#titulo {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#titulo h1 {
    font-size:50px;
    color: white;
    margin-top: 6%;
    -webkit-text-stroke: 1px black;
}

section {
    margin: auto;
}

img {

}

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(161, 233, 209);
}